DATABASE_URL=sqlite:data/sql_admin.sqlite?mode=rwc

SERVER_ADDR=0.0.0.0:3000
SERVER_PORT=3000

APP_ENV=prod
LOG_LEVEL=info
LOG_DIR=./logs

RUST_LOG=sql_admin=info,axum=info

VITE_API_URL=http://localhost:3000
